.formulario
  = simple_fields_for(@clinicalhistory) do |f| 
    = f.error_notification
    = f.input :code, :as=>"hidden"
    %table.table_form
      %tr
        %td{:colspan=>"2"}
          = f.label 'F. de evaluación'
          - if @clinicalhistory.assessmentdate.blank?
            = f.text_field :assessmentdate,:value => DateTime.now.strftime("%d/%m/%Y"), :disable=>true
          - else
            = f.text_field :assessmentdate
        %td{:colspan=>"2"}
          = label_tag "Centro"
          = select_tag 'Centro', options_from_collection_for_select(@centers, 'id', 'name')
        %td= label_tag "Especialista"
        %td= grouped_collection_select(:specialist, :specialist_id, @specialisttypes, :specialist, :name, :id, :name)
      %tr
        %td.grande{:colspan=>"6"}= f.input :medicalhistory, :label => "Antecedentes clín.: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :reasonconsultation, :label => "Motivo consulta: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :evaluation, :label => "Evaluación: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :treatment, :label => "Tratamiento: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
      %tr
        %td.grande{:colspan=>"6"}= f.input :comments, :label => "Exámenes aux.: "
      %tr
        %td{:colspan=>"2"}
          = f.label 'F. Inicio tto'
          = f.text_field :startdatetto
        %td{:colspan=>"2"}
          = f.label 'F. Fin tto'
          = f.text_field :enddatetto
        %td{:colspan=>"2"}= f.input :nsessions, :label => "Sesiones: "

      %tr
        %td{:colspan=>"2"}
          = f.label "Crear un nevo tratamiento"
          = f.input :duplicado, :as => 'Boolean', :value => false, :label => false
        %td{:colspan=>"2"}= f.input :code, :label => "Nº Tto", :disabled => true, :as => "hidden"
        
.formulario
  = simple_fields_for(@clinicalhistory) do |f| 
    %table.table_form
      %tr
        %td
          = f.label 'Nº Registro: '
          %b #{@paciente.codigo}
        %td
          = collection_select(nil, :provenance_id, Provenance.all, :id,:name, { :prompt   => "Seleccione la procedencia"},{:id =>'provenance_id'})
        %td
          #rate
            =render :partial => 'pacientes/rates'
      %tr
        %td= f.input :expedient, :label => 'Nº Exp'
        %td= f.input :authorization, :label =>'Nº Aut'
        %td= f.input :authorizationcomments, :label=>'Observaciones'

