%h1 Listing clinicalhistories

%table
  %tr
    %th Assessmentdate
    %th Medicalhistory
    %th Reasonconsultation
    %th Evaluation
    %th Treatment
    %th Medicaldiagnosic
    %th Physiotherapistdiagnostic
    %th Startdatetto
    %th Enddatetto
    %th Nsessions
    %th Frequency
    %th Comments
    %th
    %th
    %th

  - @clinicalhistories.each do |clinicalhistory|
    %tr
      %td= clinicalhistory.assessmentdate
      %td= clinicalhistory.medicalhistory
      %td= clinicalhistory.reasonconsultation
      %td= clinicalhistory.evaluation
      %td= clinicalhistory.treatment
      %td= clinicalhistory.medicaldiagnosic
      %td= clinicalhistory.physiotherapistdiagnostic
      %td= clinicalhistory.startdatetto
      %td= clinicalhistory.enddatetto
      %td= clinicalhistory.nsessions
      %td= clinicalhistory.frequency
      %td= clinicalhistory.comments
      %td= link_to 'Show', clinicalhistory
      %td= link_to 'Edit', edit_clinicalhistory_path(clinicalhistory)
      %td= link_to 'Destroy', clinicalhistory, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Clinicalhistory', new_clinicalhistory_path
