= simple_form_for(@paciente) do |f| 
  = f.error_notification
  
  .inputs
    = f.input :name, :url => pacientes_autocomplete_paciente_name_path, :as => :autocomplete # = f.association :album, :collection => current_user.albums
    = f.input :firstsurname #, :as => :file
    = f.input :secondsurname

    
  .actions
    = f.button :submit


