= simple_form_for(@paciente) do |f| 
  = f.error_notification
  %table.table_form
    %tr
      %td= f.input :name, :label => "Nombre: "#, :url => pacientes_autocomplete_paciente_name_path, :as => :autocomplete # = f.association :album, :collection => current_user.albums
      %td= f.input :codigo, :label => "Nª"
    %tr
      %td= f.input :firstsurname, :label => "Primer apellido: " #, :as => :file
      %td= f.input :secondsurname, :label => "Segundo apellido: "
    %tr
      %td= f.input :idtype #, :url => pacientes_autocomplete_paciente_name_path, :as => :autocomplete # = f.association :album, :collection => current_user.albums
      %td= f.input :idcode #, :as => :file
    %tr
      %td= f.input :profession, :label => "Ocupación: "
      %td= f.association :feetype, :label => "Tipo: ", :collection => Feetype.all(:order => 'name'), :include_blank => false
    %tr
      %td= f.input :birthdate, :label => "F. Nacimiento: "
      %td= f.label "Edad"
    %tr
      %td= f.input :mobilephone, :label => "Móvil: "
      %td= f.input :homephone, :label => "Tlfo: "
    %tr
      %td=f.input :familyphone, :label => "Tlfo familiar: "
      %td=f.input :email, :label => "Email: "
    %tr
      %td= f.input :addres, :label => "Dirección: "
      %td= f.input :zip, :label => "Código Postal"

   
  = f.fields_for :clinicalhistories do |build| 
    %table.table_small
      %tr
        %td{:colspan=>"2"}= build.input :assessmentdate, :label => "F. Evaluación: ", :include_blank => true
        %td{:colspan=>"2"}= build.input :code
      %tr
        %td= build.input :medicalhistory, :label => "Historia médica: "
        %td= build.input :reasonconsultation, :label => "Motivo consulta: "
        %td= build.input :evaluation, :label => "Evaluación: "
        %td= build.input :comments, :label => "Observaciones: "
      %tr
        %td= build.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
        %td= build.input :treatment, :label => "Tratamiento: "
        %td{:colspan=>"2"}
          %table.table_small
            %tr
              %td{:colspan=>"3"}= build.input :startdatetto, :label => "F.Inicio tto: " 
            %tr
              %td{:colspan=>"3"}= build.input :enddatetto, :label => "F.Fin tto: "
            %tr
              %td.big= build.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
              %td.small= build.input :nsessions, :label => "Sesiones: "
              %td.small= build.input :frequency, :label => "Frec: "
   
  = f.submit "Guardar"
      
        

 