.derecha
  - unless @clinicalhistories.blank?
    .formulario
      %table.table_form
        %tr
          %th F. Eval.
          %th Diagnóstico Fisio
          %th Tratamiento 
        - @clinicalhistories.each do |clinicalhistory|
          %tr
            %td= link_to clinicalhistory.assessmentdate, clinicalhistory
            %td= link_to clinicalhistory.physiotherapistdiagnostic, clinicalhistory
            %td= link_to clinicalhistory.treatment, clinicalhistory
= simple_form_for(@paciente) do |f| 
  = f.error_notification
  .izquierda
    .formulario
      %table.table_form
        %tr
          %td{:colspan=>"2"}
            = f.label 'Nº Registro: '
            %b #{@paciente.codigo}
          %td{:colspan=>"2"}= f.association :feetype, :label => "Tarifa"
          %td
            = label_tag "Centro"
          %td
            = select_tag 'Centro', options_from_collection_for_select(@centers, 'id', 'name')
        %tr
          %td{:colspan=>"2"}= f.input :name, :label => "Nombre "
          %td{:colspan=>"2"}= f.input :firstsurname, :label => "1er apellido " 
          %td{:colspan=>"2"}= f.input :secondsurname, :label => "2do apellido "     
        %tr
          %td{:colspan=>"2"}= f.input :profession, :label => "Ocupación"
          %td{:colspan=>"2"}= f.input :birthdate, :as=>:string, :label => "F.Nac" 
          %td{:colspan=>"2"}
            = f.label 'Edad' 
            %b #{@edad} años         
        %tr
          %td{:colspan=>"2"}= f.input :zip, :label => "C.p"
          %td{:colspan=>"2"}= f.input :addres, :label => "Dirección"
          %td= f.association :idtype , :label =>false , :include_blank => false
          %td= f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
  
        %tr
          %td{:colspan=>"2"}= f.input :mobilephone, :label => "Móvil "
          %td{:colspan=>"2"}= f.input :homephone, :label => "Tlfo "
          %td{:colspan=>"2"}=f.input :familyphone, :label => "Tlfo fam: "
    = render 'clinicalhistories/form'
    = f.submit 'Guardar'
