= simple_form_for(@paciente) do |f| 
  = f.error_notification
  .derecha
    .formulario
      %table.table_form
        %tr
          %th F. Evaluación
          %th Diagnóstico Fisio
          %th Tratamiento 
        - @clinicalhistories.each do |clinicalhistory|
          %tr
            %td= clinicalhistory.assessmentdate
            %td= clinicalhistory.physiotherapistdiagnostic
            %td= clinicalhistory.treatment
  .izquierda
    .formulario
      %table.table_form
        %tr
          %td{:colspan=>"2"}
            = f.label 'Nº Registro: '
            %b #{@paciente.codigo}
          %td{:colspan=>"2"}= f.association :feetype, :label => "Tarifa"
          %td
            = label_tag "Centro"
          %td
            = select_tag 'Centro', options_from_collection_for_select(@centers, 'id', 'name')
        %tr
          %td{:colspan=>"2"}= f.input :name, :label => "Nombre "
          %td{:colspan=>"2"}= f.input :firstsurname, :label => "1er apellido " 
          %td{:colspan=>"2"}= f.input :secondsurname, :label => "2do apellido "     
        %tr
          %td{:colspan=>"2"}= f.input :profession, :label => "Ocupación"
          %td{:colspan=>"2"}= f.input :birthdate, :as=>:string, :label => "F.Nac" 
          %td{:colspan=>"2"}
            = f.label 'Edad' 
            %b #{@edad} años         
        %tr
          %td{:colspan=>"2"}= f.input :zip, :label => "C.p"
          %td{:colspan=>"2"}= f.input :addres, :label => "Dirección"
          %td= f.association :idtype , :label =>false , :include_blank => false
          %td= f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
  
        %tr
          %td{:colspan=>"2"}= f.input :mobilephone, :label => "Móvil "
          %td{:colspan=>"2"}= f.input :homephone, :label => "Tlfo "
          %td{:colspan=>"2"}=f.input :familyphone, :label => "Tlfo fam: "
    .formulario
      = simple_fields_for(@clinicalhistory) do |f| 
        = f.error_notification
        %table.table_form
          %tr
            %td{:colspan=>"2"}
              = f.label 'F. de evaluación'
              = f.text_field :assessmentdate,:value => DateTime.now.strftime("%d/%m/%Y")
            %td{:colspan=>"2"}= f.input :code, :label => "Nº Tratamiento", :disabled => true
            %td= label_tag "Especialista"
            %td= grouped_collection_select(:specialist, :specialist_id, @specialisttypes, :specialist, :name, :id, :name)
          %tr
            %td.grande{:colspan=>"6"}= f.input :medicalhistory, :label => "Antecedentes clínicos: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :reasonconsultation, :label => "Motivo consulta: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :evaluation, :label => "Evaluación: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :treatment, :label => "Tratamiento: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
          %tr
            %td.grande{:colspan=>"6"}= f.input :comments, :label => "Exámenes auxiliares: "
          %tr
            %td{:colspan=>"2"}
              = f.label 'F. Inicio tto'
              = f.text_field :startdatetto
            %td{:colspan=>"2"}
              = f.label 'F. Fin tto'
              = f.text_field :enddatetto
            %td{:colspan=>"2"}= f.input :nsessions, :label => "Sesiones: "
  
          %tr
            %td{:colspan=>"2"}
              = f.label "Crear un nevo tratamiento"
              = f.input :duplicado, :as => 'Boolean', :value => false, :label => false
  .izquierda
  = f.submit 'Crear'
