
= simple_form_for(@paciente) do |f| 
  = f.error_notification
  %div.formulario
    %table.table_form
      %tr
        %td
          = f.label 'Nº Registro: '
          %b #{@paciente.codigo}
        %td{:colspan=>"2"}= f.association :feetype, :label => "Tarifa"
      %tr
        %td= f.input :name, :label => "Nombre "
        %td= f.input :firstsurname, :label => "1er apellido " 
        %td= f.input :secondsurname, :label => "2do apellido "     
      %tr
        %td
          = f.association :idtype , :label =>false , :include_blank => false
          = f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
        %td= f.input :profession, :label => "Ocupación"
        %td= f.input :birthdate, :as=>:string, :label => "F.Nac" 
        %td
      %tr
        %td
          = f.label 'Edad' 
          %br
          %b #{@edad} años 
        %td.grande{:colspan=>"2"}= f.input :email, :label => "Email: ",:placeholder => 'user@domain.com'
        %td
      %tr
        %td= f.input :mobilephone, :label => "Móvil "
        %td= f.input :homephone, :label => "Tlfo "
        %td=f.input :familyphone, :label => "Tlfo fam: "
  
      %tr
        %td= f.input :zip, :label => "C.p"
        %td.grande{:colspan=>"2"}= f.input :addres, :label => "Dirección"
        %td
  
  
  %b Historia clínica:
  %div.formulario
    = simple_fields_for(@clinicalhistory) do |f| 
      = f.error_notification
      %table.table_small
        %tr
          %td{:colspan=>"2"}
            = f.label 'F. de evaluación'
            = f.text_field :assessmentdate,:value => DateTime.now.strftime("%d/%m/%Y")
          %td{:colspan=>"2"}= f.input :code, :label => "Nº Tratamiento", :disabled => true
          %td= f.input :frequency, :label => "Frecuencia: "
          %td= f.input :nsessions, :label => "Sesiones: "
        %tr
          %td.grande{:colspan=>"2"}= f.input :medicalhistory, :label => "Historia médica: "
          %td.grande{:colspan=>"2"}= f.input :reasonconsultation, :label => "Motivo consulta: "
          %td.grande{:colspan=>"2"}= f.input :evaluation, :label => "Evaluación: "
          %td.grande{:colspan=>"2"}= f.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
        %tr
          %td.grande{:colspan=>"2"}= f.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
          %td.grande{:colspan=>"2"}= f.input :treatment, :label => "Tratamiento: "
          %td
            = f.label 'F. Inicio tto'
            = f.text_field :startdatetto
          %td
            = f.label 'F. Fin tto'
            = f.text_field :enddatetto
          %td.grande{:colspan=>"2"}= f.input :comments, :label => "Observaciones: "
        %tr
          %td{:colspan=>"2"}
            = f.label "Crear un nevo tratamiento"
            = f.input :duplicado, :as => 'Boolean', :value => false, :label => false
          %td
          %td
          %td
          %td
  = f.submit 'Crear'
  %br
