%br
%fieldset.derecha
  %legend Listado de historias
  - unless @paciente.clinicalhistories.blank?
    %table.derecha
      %tr
        %th F. Eval.
        %th Diagnóstico Fisio
        %th Tratamiento 
      - @paciente.clinicalhistories.each do |clinicalhistory|
        %tr
          %td= link_to_function clinicalhistory.assessmentdate, "edit_clinicalhistory('#{clinicalhistory.id}')"             
          %td= link_to_function clinicalhistory.physiotherapistdiagnostic, "edit_clinicalhistory('#{clinicalhistory.id}')"   
          %td= link_to_function clinicalhistory.treatment,"edit_clinicalhistory('#{clinicalhistory.id}')"               

%fieldset.izquierda
  %legend Ficha del Paciente
  = render 'search_paciente'
  %br
  = simple_form_for @paciente do |f|
    %table.izquierda
      %tr
        %td= render :partial =>'form', :locals => { :f => f }
    //MUESTRA PRIMERO EL HISTORIAL MÁS RECIENTE
    = simple_fields_for @clinicalhistory do |builder|
      = render :partial => 'clinicalhistories/form',:locals => { :builder => builder }
    %button{:onClick => "create_new_clinicalhistory(#{@paciente.id});return false"}
      Crear nuevo historial 
    = link_to_function "Crear nuevo historial", "create_new_clinicalhistory(#{@paciente.id})"             
    = f.submit 'Guardar'


  //JAVASCRIPT

  :javascript
    function edit_clinicalhistory(clinicalhistory_id){
      $.getJSON('/clinicalhistories/search_clinicalhistory/' + clinicalhistory_id, function(result){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        for(key in result.clinicalhistory)
          $("#clinicalhistory_" + key).val(result.clinicalhistory[key]);

     });
    }
    function create_new_clinicalhistory(paciente_id){
      $.getJSON('/pacientes/new_clinicalhistory/' + paciente_id, function(clinicalhistory){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        for(key in result.clinicalistory)
          $("#clinicalhistory_" + key).val(clinicalhistory[key]);    
      });
    }
    
