%b Ficha del paciente:
= render 'search_paciente'
= simple_form_for @paciente do |f|
  .derecha
    - unless @paciente.clinicalhistories.blank?
      .formulario
        %table.table_form
          %tr
            %th F. Eval.
            %th Diagnóstico Fisio
            %th Tratamiento 
          - @paciente.clinicalhistories.each do |clinicalhistory|
            %tr
              = clinicalhistory.id
              = text_field_tag 'clinicalhistory_id', clinicalhistory.id#, :type=>"hidden"
              %td= link_to_function clinicalhistory.assessmentdate, "edit_clinicalhistory('#{clinicalhistory.id}')"             
              %td= link_to_function clinicalhistory.physiotherapistdiagnostic, "edit_clinicalhistory('#{clinicalhistory.id}')"   
              %td= link_to_function clinicalhistory.treatment,"edit_clinicalhistory('#{clinicalhistory.id}')"               
      
  .izquierda
    .formulario
      %table.table_form
        %tr
          %td{:colspan=>"2"}= f.input :name, :label => "Nombre "
          %td{:colspan=>"2"}= f.input :firstsurname, :label => "1 apellido " 
          %td{:colspan=>"2"}= f.input :secondsurname, :label => "2 apellido "     
        %tr
          %td{:colspan=>"2"}= f.input :profession, :label => "Ocupación"
          %td{:colspan=>"2"}= f.input :birthdate, :as=>:string, :label => "F.Nac" 
          %td{:colspan=>"2"}
            = f.label 'Edad' 
            %b #{@edad} años         
        %tr
          %td{:colspan=>"2"}= f.input :zip, :label => "C.p"
          %td{:colspan=>"2"}= f.input :addres, :label => "Dirección"
          %td= f.association :idtype , :label =>false , :include_blank => false
          %td= f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
  
        %tr
          %td{:colspan=>"2"}= f.input :mobilephone, :label => "Móvil "
          %td{:colspan=>"2"}= f.input :homephone, :label => "Tlfo "
          %td{:colspan=>"2"}=f.input :familyphone, :label => "Tlfo fam: "
        %tr
          %td.grande{:colspan=>"6"}=f.input :email, :label => "Email:  "

  //MUESTRA PRIMERO EL HISTORIAL MÁS RECIENTE
  = simple_fields_for @clinicalhistory do |builder|
    = render :partial => 'clinicalhistories/form',:locals => { :builder => builder }

  = link_to_function "Crear", "create_new_clinicalhistory(#{@paciente.id})"             
  = f.submit 'Guardar'


  //JAVASCRIPT

  :javascript
    function edit_clinicalhistory(clinicalhistory_id){
      $.getJSON('/clinicalhistories/search_clinicalhistory/' + clinicalhistory_id, function(clinicalhistory){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        $("#clinicalhistory_medicalhistory").val(clinicalhistory[0][0]);
        $("#clinicalhistory_reasonconsultation").val(clinicalhistory[0][1]);
        $("#clinicalhistory_evaluation").val(clinicalhistory[0][2]);
        $("#clinicalhistory_physiotherapistdiagnostic").val(clinicalhistory[0][3]);
        $("#clinicalhistory_assessmentdate").val(clinicalhistory[0][4]);
        $("#clinicalhistory_treatment").val(clinicalhistory[0][5]);
        $("#clinicalhistory_medicaldiagnosic").val(clinicalhistory[0][6]);
        $("#clinicalhistory_provenance_id").val(clinicalhistory[0][7]);
        $("#clinicalhistory_comments").val(clinicalhistory[0][8]);
        $("#clinicalhistory_startdatetto").val(clinicalhistory[0][9]);
        $("#clinicalhistory_clinicalhistories_rate_id").val(clinicalhistory[0][10]);
        $("#clinicalhistory_enddatetto").val(clinicalhistory[0][11]);
        $("#clinicalhistory_expedient").val(clinicalhistory[0][12]);
        $("#clinicalhistory_authorization").val(clinicalhistory[0][13]);
        $("#clinicalhistory_authorizationcomments").val(clinicalhistory[0][14]);
        $("#clinicalhistory_id").val(clinicalhistory_id);      
        $("#clinicalhistory_code").val(clinicalhistory[0][15]);      

     });
    }
    function create_new_clinicalhistory(paciente_id){
      $.getJSON('/pacientes/new_clinicalhistory/' + paciente_id, function(clinicalhistory){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        $("#clinicalhistory_medicalhistory").val(clinicalhistory[0][0]);
        $("#clinicalhistory_reasonconsultation").val(clinicalhistory[0][1]);
        $("#clinicalhistory_evaluation").val(clinicalhistory[0][2]);
        $("#clinicalhistory_physiotherapistdiagnostic").val(clinicalhistory[0][3]);
        $("#clinicalhistory_assessmentdate").val(clinicalhistory[0][4]);
        $("#clinicalhistory_treatment").val(clinicalhistory[0][5]);
        $("#clinicalhistory_medicaldiagnosic").val(clinicalhistory[0][6]);
        $("#clinicalhistory_provenance_id").val(clinicalhistory[0][7]);
        $("#clinicalhistory_comments").val(clinicalhistory[0][8]);
        $("#clinicalhistory_startdatetto").val(clinicalhistory[0][9]);
        $("#clinicalhistory_clinicalhistories_rate_id").val(clinicalhistory[0][10]);
        $("#clinicalhistory_enddatetto").val(clinicalhistory[0][11]);
        $("#clinicalhistory_expedient").val(clinicalhistory[0][12]);
        $("#clinicalhistory_authorization").val(clinicalhistory[0][13]);
        $("#clinicalhistory_authorizationcomments").val(clinicalhistory[0][14]);
        $("#clinicalhistory_id").val(clinicalhistory[0][16]);      
        $("#clinicalhistory_code").val(clinicalhistory[0][15]);      
      });
    }
    
