%br
= render 'search_paciente'
= simple_form_for @paciente do |f|
  %fieldset.derecha
    %legend Listado de historias
    - unless @paciente.clinicalhistories.blank?
      %table.derecha
        %tr
          %th F. Eval.
          %th Diagnóstico Fisio
          %th Tratamiento 
        - @paciente.clinicalhistories.each do |clinicalhistory|
          %tr
            %td= link_to_function clinicalhistory.assessmentdate, "edit_clinicalhistory('#{clinicalhistory.id}')"             
            %td= link_to_function clinicalhistory.physiotherapistdiagnostic, "edit_clinicalhistory('#{clinicalhistory.id}')"   
            %td= link_to_function clinicalhistory.treatment,"edit_clinicalhistory('#{clinicalhistory.id}')"               
  %fieldset.izquierda
    %legend Ficha del Paciente
    %table.izquierda
      %tr
        %td=f.input :name, :label => "Nombre ",:placeholder => 'Nombre'
        %td=f.input :firstsurname, :label => "1 apellido " ,:placeholder => '1 apellido'
        %td=f.input :secondsurname, :label => "2 apellido ",:placeholder => '2 apellido'
      %tr
        %td=f.input :profession, :label => "Ocupación"
        %td= f.association :idtype , :label =>false , :include_blank => false
        %td= f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
      %tr
        %td=f.input :birthdate, :as=>:string, :label => "F.Nac" 
        %td
          =f.label 'Edad'       
          #{@edad} años
        %td
      %tr
        %td=f.input :addres, :label => "Dirección"
        %td= f.input :zip, :label => "C.p"
        %td
      %tr
        %td=f.input :mobilephone, :label => "Móvil "
        %td=f.input :familyphone, :label => "Tlfo fam: "
        %td= f.input :homephone, :label => "Tlfo "
    %br
    .mediano
      =f.input :email, :label => "Email:  ",:placeholder => 'Dirección de correo electrónico'

    //MUESTRA PRIMERO EL HISTORIAL MÁS RECIENTE
    = simple_fields_for @clinicalhistory do |builder|
      = render :partial => 'clinicalhistories/form',:locals => { :builder => builder }
    
    = link_to_function "Crear nuevo historial", "create_new_clinicalhistory(#{@paciente.id})"             
    = f.submit 'Guardar'


  //JAVASCRIPT

  :javascript
    function edit_clinicalhistory(clinicalhistory_id){
      $.getJSON('/clinicalhistories/search_clinicalhistory/' + clinicalhistory_id, function(clinicalhistory){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        $("#clinicalhistory_medicalhistory").val(clinicalhistory[0][0]);
        $("#clinicalhistory_reasonconsultation").val(clinicalhistory[0][1]);
        $("#clinicalhistory_evaluation").val(clinicalhistory[0][2]);
        $("#clinicalhistory_physiotherapistdiagnostic").val(clinicalhistory[0][3]);
        $("#clinicalhistory_assessmentdate").val(clinicalhistory[0][4]);
        $("#clinicalhistory_treatment").val(clinicalhistory[0][5]);
        $("#clinicalhistory_medicaldiagnosic").val(clinicalhistory[0][6]);
        $("#clinicalhistory_provenance_id").val(clinicalhistory[0][7]);
        $("#clinicalhistory_comments").val(clinicalhistory[0][8]);
        $("#clinicalhistory_startdatetto").val(clinicalhistory[0][9]);
        $("#clinicalhistory_clinicalhistories_rate_id").val(clinicalhistory[0][10]);
        $("#clinicalhistory_enddatetto").val(clinicalhistory[0][11]);
        $("#clinicalhistory_expedient").val(clinicalhistory[0][12]);
        $("#clinicalhistory_authorization").val(clinicalhistory[0][13]);
        $("#clinicalhistory_authorizationcomments").val(clinicalhistory[0][14]);
        $("#clinicalhistory_id").val(clinicalhistory_id);      
        $("#clinicalhistory_code").val(clinicalhistory[0][15]);      

     });
    }
    function create_new_clinicalhistory(paciente_id){
      $.getJSON('/pacientes/new_clinicalhistory/' + paciente_id, function(clinicalhistory){
        /*después de buscar el clinicalhistory seleccionado por el usuario, rellenamos los campos*/
        $("#clinicalhistory_medicalhistory").val(clinicalhistory[0][0]);
        $("#clinicalhistory_reasonconsultation").val(clinicalhistory[0][1]);
        $("#clinicalhistory_evaluation").val(clinicalhistory[0][2]);
        $("#clinicalhistory_physiotherapistdiagnostic").val(clinicalhistory[0][3]);
        $("#clinicalhistory_assessmentdate").val(clinicalhistory[0][4]);
        $("#clinicalhistory_treatment").val(clinicalhistory[0][5]);
        $("#clinicalhistory_medicaldiagnosic").val(clinicalhistory[0][6]);
        $("#clinicalhistory_provenance_id").val(clinicalhistory[0][7]);
        $("#clinicalhistory_comments").val(clinicalhistory[0][8]);
        $("#clinicalhistory_startdatetto").val(clinicalhistory[0][9]);
        $("#clinicalhistory_clinicalhistories_rate_id").val(clinicalhistory[0][10]);
        $("#clinicalhistory_enddatetto").val(clinicalhistory[0][11]);
        $("#clinicalhistory_expedient").val(clinicalhistory[0][12]);
        $("#clinicalhistory_authorization").val(clinicalhistory[0][13]);
        $("#clinicalhistory_authorizationcomments").val(clinicalhistory[0][14]);
        $("#clinicalhistory_id").val(clinicalhistory[0][16]);      
        $("#clinicalhistory_code").val(clinicalhistory[0][15]);      
      });
    }
    
