%h1 Buscar paciente
= form_tag pacientes_path, :method => 'get', do 
  %table
    %tr
      %td= label_tag 'Nombre'
      %td= label_tag 'Primer apellido'
      %td= label_tag 'Segundo apellido'
      %td= label_tag 'Dni'
      %td
    %tr
      %td= text_field_tag :name, params[:name]
      %td= text_field_tag :firstsurname, params[:firstsurname]
      %td= text_field_tag :secondsurname, params[:secondsurname]
      %td= text_field_tag :idcode, params[:idcode]
      %td=submit_tag "Buscar", :name => nil

.arearegistro
  = link_to "Crear nueva ficha", new_paciente_path
%br
%h2 Listado de pacientes
%table
  %tr
    %th Nº 
    %th Nombre
    %th 1 Apellido
    %th 2 Apelllido
    %th Identificación
    %th Ocupación
    %th Tarifa
    %th Móvil
    %th Tfno
    %th Tfno Fam
    %th C.P
    %th
    %th

  - @pacientes.each do |paciente|
    %tr
      %td= paciente.codigo
      %td= paciente.name
      %td= paciente.firstsurname
      %td= paciente.secondsurname
      %td= "#{paciente.idtype.name}: ""#{paciente.idcode.to_s}" unless paciente.idcode.blank?
      %td= paciente.profession
      %td= paciente.feetype.name unless paciente.feetype.blank?
      %td= paciente.mobilephone
      %td= paciente.familyphone
      %td= paciente.homephone
      %td= paciente.zip
      %td= link_to 'Ficha | ', edit_paciente_path(paciente)
      %td= link_to 'Eliminar', paciente, :confirm => 'Está seguro?', :method => :destroy

%br

= link_to 'New Clinicalhistory', new_paciente_path
