%h1 Buscar paciente
= form_tag pacientes_path, :method => 'get', do 
  %table.table_form
    %tr
      %td= text_field_tag :name, params[:nombre]
      %td= text_field_tag :firstsurname, params[:firstsurname]
      %td= text_field_tag :secondsurname, params[:secondsurname]
      %td= text_field_tag :idcode, params[:idcode]
  =submit_tag "Buscar", :name => nil
= render 'pacientes'
