%b Ficha del paciente:
%div.formulario
  = form_tag pacientes_path, :method => 'get' do 
    = label_tag "Nombre"
    = text_field_tag :search, params[:search],:type=>"hidden"
    = autocomplete_field_tag 'paciente_name', '', tabs_autocomplete_paciente_name_path,:id_element => '#search'
    = submit_tag "Buscar", :name => nil
- if Paciente.find_by_id(params[:search]).nil?
  = render 'paciente'
- else
  = render 'form'

