%b Ficha del paciente:
= render 'search_paciente'

= simple_form_for @paciente, pacientes_path do |f|
  .derecha
  .izquierda
    .formulario
      %table.table_form
        %tr
          %td{:colspan=>"2"}= f.input :name, :label => "Nombre "
          %td{:colspan=>"2"}= f.input :firstsurname, :label => "1 apellido " 
          %td{:colspan=>"2"}= f.input :secondsurname, :label => "2 apellido "     
        %tr
          %td{:colspan=>"2"}= f.input :profession, :label => "Ocupaci칩n"
          %td{:colspan=>"2"}= f.input :birthdate, :as=>:string, :label => "F.Nac" 
          %td{:colspan=>"2"}
            = f.label 'Edad' 
            %b #{@edad} a침os         
        %tr
          %td{:colspan=>"2"}= f.input :zip, :label => "C.p"
          %td{:colspan=>"2"}= f.input :addres, :label => "Direcci칩n"
          %td= f.association :idtype , :label =>false , :include_blank => false
          %td= f.input :idcode, :label => false, :placeholder => 'DNI/NIF/CIF'
  
        %tr
          %td{:colspan=>"2"}= f.input :mobilephone, :label => "M칩vil "
          %td{:colspan=>"2"}= f.input :homephone, :label => "Tlfo "
          %td{:colspan=>"2"}=f.input :familyphone, :label => "Tlfo fam: "
        %tr
          %td.grande{:colspan=>"6"}=f.input :email, :label => "Email:  "
  = f.simple_fields_for :clinicalhistories, Clinicalhistory.new do |builder|
    = render :partial => 'clinicalhistories/form',:locals => { :builder => builder }

  = f.submit 'Guardar'
