%h1 Ficha del paciente:
= simple_form_for(@paciente) do |f| 
  = f.error_notification
  %div.formulario
    %table.table_form
      %th Nº Registro: #{@paciente.codigo}
      %th= f.association :feetype, :label => "Tarifa"
      %tr
        %td= f.input :name, :label => "Nombre "
        %td= f.input :firstsurname, :label => "1er apellido " 
        %td= f.input :secondsurname, :label => "2do apellido "     
      %tr
        %td= f.input :idcode, :label => "Nº Identificación", :placeholder => 'DNI / NIF / CIF '
        %td
          .mediano= f.association :idtype , :label => "Tipo de identificación", :include_blank => false
        %td= f.input :profession, :label => "Ocupación"
      %tr
        %td= f.label 'Fecha de nacimiento'
        %td
          = f.text_field :birthdate
        %td 
          %h3 #{@edad} años
      %tr
        %td.mediano= f.input :mobilephone, :label => "Móvil "
        %td.mediano= f.input :homephone, :label => "Tlfo "
        %td.mediano=f.input :familyphone, :label => "Tlfo fam: "

      %tr
        %td= f.input :addres, :label => "Dirección: "
        %td.mediano
          %br
          = f.label 'C.P'
          = f.input :zip, :label => false
        %td.grande= f.input :email, :label => "Email: ",:placeholder => 'user@domain.com'

  
  %H2 Historia clínica:
  %div.formulario
    = simple_fields_for(@clinicalhistory) do |f| 
      = f.error_notification
      %table.table_small
        %tr
          %td{:colspan=>"2"}
            = f.label 'Fecha de evaluación'
            = f.text_field :assessmentdate, :label => "F. Evaluación: ", :include_blank => true
          %td{:colspan=>"2"}= f.input :code, :label => false, :disabled => true
        %tr
          %td= f.input :medicalhistory, :label => "Historia médica: "
          %td= f.input :reasonconsultation, :label => "Motivo consulta: "
          %td= f.input :evaluation, :label => "Evaluación: "
          %td= f.input :comments, :label => "Observaciones: "
        %tr
          %td{:colspan=>"2"}
            %table.table_small
              %tr
                %td{:colspan=>"2"}
                  = f.label 'F. Inicio tto'
                  = f.text_field :startdatetto
                %td.small= f.input :nsessions, :label => "Sesiones: "
              %tr
                %td{:colspan=>"2"}
                  = f.label 'F. Fin tto'
                  = f.text_field :enddatetto
                %td.small= f.input :frequency, :label => "Frec: "
              %tr
                %td.grande{:colspan=>"2"}= f.input :medicaldiagnosic, :label => "Diagnóstico Méd.: "
               
                
          %td= f.input :physiotherapistdiagnostic, :label => "Diagnósito Fisio: "
          %td= f.input :treatment, :label => "Tratamiento: "
      = f.label "Tratamiento nuevo"
      = f.input :duplicado, :as => 'Boolean', :value => false, :label => false
  = f.submit 'Crear'
