= simple_form_for(@event) do |f|
  = render "shared/error_messages", :target => @event
  %table.table_form
    %tr
      %td
        = label_tag "Seleccione el paciete"
        = text_field_tag :search, params[:search],:type=>"hidden"
        = autocomplete_field_tag 'paciente_name', '', tabs_autocomplete_paciente_name_path,:id_element => '#search'
      %td
        = f.input :id, :as => "hidden"
        = label_tag "Día de la consulta"
        = text_field_tag :dia, '', :id_element =>'dia', :disabled => true
      %td{:rowspan=>"3"}
        = f.input :description, :label=>"Observaciones"
    %tr
      %td
        = label_tag "Seleccione el especialista"
        = grouped_collection_select(:specialist, :specialist_id, @specialisttypes, :specialist, :name, :id, :name)
      %td
        = f.input :starts_at, :as=>:string, :label => "Hora comienzo",:disabled => true
      %td
    %tr
      %td
        = label_tag "Seleccione el centro"
        = select_tag 'Centro', options_from_collection_for_select(@centers, 'id', 'name')

      %td= f.input :ends_at, :as=>:string, :label => "Hora fin",:disabled => true
    %tr
      %td
      %td
      %td= f.submit 'Crear'
