
= simple_form_for @event do |f|
  = render "shared/error_messages", :target => @event
  %table
    %tr
      %td
        = label_tag 'Nombre'
        = text_field_tag :search, params[:search], :type=>"hidden"
        = autocomplete_field_tag 'paciente_fullname', '', tabs_autocomplete_paciente_fullname_path,:id_element => '#search'
      %td= f.association :center, :label => false, :collection => Center.all(:order => 'name'), :prompt => "Elija el centro"
      %td= f.collection_select :specialist_id, Specialist.all, :id,:name, :prompt => "Elija el especialista"
    %tr
      %td
        = label_tag 'Día'
        = text_field_tag :dia, '', :id_element =>'dia',:disabled => true
        = f.input :attended, :label => "Confirmado",:readonly => 'true'
      %td
        = f.input :starts_at, :as=>:string, :label => "Hora",:disabled => true      
        = f.input :id
      %td.mediano{:colspan=>"3"}= f.input :description, :label=>"Observaciones"
  = link_to 'Eliminar', :confirm => '¿Seguro que desea eliminar la cita?',  :method => :confirm
  = link_to 'Confirmar', :confirm => '¿Desea confirmar la asistencia del paciente?', :method => :confirm
  = submit_tag 'Nueva Cita'

