= simple_form_for(@event) do |f|
  = render "shared/error_messages", :target => @event
  %table.table_small
    %tr
      %td
        %table.table_small
          %tr
            %td
              = label_tag "Seleccione el especialista"
              = grouped_collection_select(:specialist, :specialist_id, @specialisttypes, :specialist, :name, :id, :name)
            %td
              = label_tag "Seleccione el centro"
              = select_tag 'Centro', options_from_collection_for_select(@centers, 'id', 'name')
            %td
              = label_tag "Seleccione el paciete"
              = text_field_tag :search, params[:search],:type=>"hidden"
              = autocomplete_field_tag 'paciente_name', '', tabs_autocomplete_paciente_name_path,:id_element => '#search'
    %tr
      %td= f.input :starts_at, :label => "Hora comienzo"
      %td= f.input :ends_at, :label => "Hora fin"
    %tr
      %td
        = f.label '¿Asistencia?'
        = f.input :attended, :label=>false, :as => :select,:collection => ['Si','No']
    %tr
      %td= f.input :description, :label=>"Observaciones"
      %td
  = f.submit