= simple_form_for @event do |f|
  = f.error_notification
  = text_field_tag :dia, '', :id_element =>'dia',:disabled => true
  = f.input :starts_at, :as=>:string, :label => "Hora comienzo",:disabled => true
  = f.input :id, :as => "hidden"
  = f.input :ends_at, :as=>:string, :label => "Hora fin",:disabled => true
  = f.input :attended, :label=>"Asistencia"
  - if @event.attended.blank?
    - @event.attended = false
  %br
  = f.submit 'Guardar'
