= simple_form_for(@event) do |f|
  = render "shared/error_messages", :target => @event
  %table.table_small
    %tr
      %td
        = label_tag "Seleccione el paciente"
        = text_field_tag :paciente_id,'', :type=>"hidden"
        = autocomplete_field_tag 'paciente_name', '', tabs_autocomplete_paciente_name_path,:id_element => '#paciente_id'
      %td
        = label_tag "Seleccione el especialista"
        = grouped_collection_select(:specialist, :specialist_id, @specialisttypes, :specialist, :name, :id, :name)
      %td
        = label_tag "Seleccione el centro"
        = f.association :center , :label =>false , :include_blank => false
    %tr
      %td
        = f.input :starts_at, :label => "Hora comienzo"
        = f.input :ends_at, :label => "Hora fin"
      %td
        = f.label '¿Asistió?'
        = f.input :attended, :label=>false, :as => :select,:collection => ['Si','No']
      %td= f.input :description, :label=>"Observaciones"
  = f.submit