%h1 Citas

#calendar
  %h2.month
    = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01")
    = h @date.strftime("%B %Y")
    = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01")
  - calendar_for @events, :year => @date.year, :month =>@date.month, :first_day_of_week => 1   do |calendar|
    = calendar.head('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado','Domingo', )
    = calendar.day(:day_method => :starttime) do |date, events|
      = date.day
        %ul
          - for event in events
          %li= link_to h(event.title), event
#calendar
  = table_for(@event) do |t|
    =t.head('Horario', 'Lunes', 'Martes')
    =t.body_r do |event|
      t.d(h(event.)

#calendar
%table
  %th Hora
  %th Lunes
  %th Martes
  %th Miércoles
  %th Jueves
  %th Viernes
  %th Sábado
  %tr 
    %td 8.00
    %td
    %td
    %td
    %td
    %td
    %td
  %tr 
    %td 8.30
    %td
    %td
    %td
    %td
    %td
    %td
  %tr 
    %td 9.00
    %td
    %td
    %td
    %td
    %td
    %td 
  %tr
    %td 9.30
  %tr 
    %td 10.00
  %tr 
    %td 10.30
  %tr 
    %td 11.00
  %tr  
    %td 11.30
  %tr  
    %td 12.00
  %tr  
    %td 12.30
  %tr  
    %td 13.00
  %tr  
    %td 13.30
  %tr  
    %td 14.00
  %tr  
    %td 16.00
  %tr  
    %td 16.30
  %tr  
    %td 17.00
  %tr  
    %td 17.30
  %tr  
    %td 18.00
  %tr  
    %td 18.30
  %tr  
    %td 19.00
  %tr  
    %td 19.30
  %tr  
    %td 20.00
  %tr  
    %td 20.30
  %tr  
    %td 21.00
    
