%p#notice= notice

%p
  %b Starttime:
  = @event.starttime
%p
  %b Endtime:
  = @event.endtime
%p
  %b Specialist:
  = @event.specialist
%p
  %b Patient:
  = @event.patient
%p
  %b Center:
  = @event.center

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
