%div.formulario
  = form_tag invoiceheads_path, :method => 'get',:id=> 'form_tag' do 
    = label_tag 'Nombre'
    = text_field_tag :search, params[:search],:type=>"hidden"
    = autocomplete_field_tag 'paciente_name', '', tabs_autocomplete_paciente_name_path,:id_element => '#search'
    = label_tag '1 Apellido'
    = autocomplete_field_tag 'paciente_firstsurname', '', tabs_autocomplete_paciente_firstsurname_path, :id_element => '#search'
    = label_tag '2 Apellido'
    = autocomplete_field_tag 'paciente_secondsurname', '', tabs_autocomplete_paciente_secondsurname_path,:id_element => '#search'
    = label_tag 'Identificación'
    = autocomplete_field_tag 'paciente_idcode', '', tabs_autocomplete_paciente_idcode_path, :id_element => '#search'
    = submit_tag "Buscar", :name => nil