%p#notice= notice

%p
  %b Name:
  = @invoicehead.name
%p
  %b Firstsurname:
  = @invoicehead.firstsurname
%p
  %b Secondsurname:
  = @invoicehead.secondsurname
%p
  %b Comments:
  = @invoicehead.comments

= link_to 'Edit', edit_invoicehead_path(@invoicehead)
\|
= link_to 'Back', invoiceheads_path
- for invoicelines in @invoicehead.invoicelines
  -invoicelines.concept
