<header class="round">
	<nav class="round">
		<nav class="blanco">		<ul> <% if user_signed_in? -%>
				<li><%= link_to "Pacientes", new_paciente_path %></li> 
				<li><%= link_to "Citas", events_path %></li> 
				<li><%= link_to "Facturación", '#' %></li>
				<li><%= link_to "Informes", '#' %></li> 
				<li><%= link_to "Salir", destroy_user_session_path %>
			<%else%>
				<li><%= link_to "Ayuda", '#' %></li> 
			<%end%>
		</ul> 
		</nav>
	</nav></header>