<header class="round">
	<%= link_to logo, "http://www.fisior.es" %>
	<h1>FisioApp</h1>
	<nav class="round">		<ul> 
			<li><%= link_to "Ayuda", '#' %></li> 
				<li><%= link_to "Configuracion", '#' %></li> 
				<li><%= link_to "Salir", '#' %></li> 
				<li><%= link_to "Entrar", '#' %></li> 
		</ul> 
	</nav></header>