<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
	<%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets'%>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
   <!-- <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui-1.8.13.custom.min.js', 'rails.js', 'autocomplete-rails.js' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom.css'%> -->
    <%= stylesheet_link_tag 'simpleForm.css'%>
  	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css", "application" %>  
  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>  
  </head>
  <body>
    <div class="container">
	  <%= render 'layouts/header'%>
	  <section class="round">
	  <div class="arealogin">
		<% if user_signed_in? %>
			Sesión Iniciada: <%= current_user.email %> - 
			<%= link_to "Cerrar sesión", destroy_user_session_path%>
		<% end %>
	  </div >
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>
	      <%= yield %>
	  </section>
	  <%= render 'layouts/footer'%>
    </div>
  </body>
</html>




