<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
	<%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets'%>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= stylesheet_link_tag 'simpleForm.css'%>
  	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css","fullcalendar.css"  %>  
  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js", "application",'autocomplete-rails.js', 'rails.js','jquery.rest.js','jquery-ui-1.8.11.custom.min.js','fullcalendar.js','calendar.js'%>  



  </head>
  <body>
    <div class="container">
    	<% if user_signed_in? %>
	    	<% if current_page?(:controller => 'events', :action => 'show') || current_page?(:controller => 'pacientes', :action => 'new') || current_page?(:controller => 'calendar', :action => 'index') || current_page?(:controller => 'clinicalhistories', :action => 'show')|| current_page?(:controller => 'pacientes', :action=> 'index')%>
				<%= render 'layouts/header_simple'%>
			<% else%>
		  		<%= render 'layouts/header'%>
		  	<% end%>
		<% else%>
			<%= render 'layouts/header'%>
	  	<% end %>	
	  <section class="round">
		  <div class="arealogin">
			<% if user_signed_in? %>
				Sesión Iniciada: <%= current_user.email %> - 
				<%= link_to "Cerrar sesión", destroy_user_session_path%>
			<% end %>
		  </div >
	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
		  <% end %>
		      <%= yield %>
	  </section>
	  <%= render 'layouts/footer'%>
    </div>
  </body>
</html>




